#{extends 'main.html' /}

<div ng-controller="feedController as ct" ng-init="ct.getAllFeeds(1); ct.getSources();" class="row">
	<div class="page-title">
		<h2>{{rss.title}}</h2>
	</div>
	<div class="row" style="margin-top: 25px">
		<div class="col s12 m6 l4" ng-repeat="feed in ct.feeds">
			<div class="card hoverable feed z-depth-2">
				<div class="card-image waves-effect waves-block waves-light activator	">
					<img ng-src="{{feed.img}}" style="max-height: 150px" class="responsive-img"/>
				</div>
				<div class="card-content">
					<span class="activator grey-text text-darken-4">
						{{feed.title | limitTo:100}}
					</span>
					<p>
						<small>Fonte: {{feed.rss.title}}</small>						
					</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4"><i
						class="material-icons right">close</i></span>
					{{feed.title}}
					<p ng-bind-html="feed.description"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
<uib-pagination 
			total-items="ct.total" ng-model="ct.page" max-size="4" ng-change="ct.getFeeds(ct.page)" items-per-page="16" 
			force-ellipses="true" boundary-links="false" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" 
			last-text="&raquo;">
		</uib-pagination>			
	</div>
</div>
