.collection .collection-item {
	line-height: 5em !important;
}

.feed {
	height: 285px;
	overflow: hidden;
}



#nav-mobile {
	overflow: hidden;
	z-index: 10;
}

#nav-mobile li a {
	line-height: normal;
	height: 37px !important;
}
#nav-mobile a {
	padding: 5px !important;
	font-size: 12px;
	font-weight: bold;
}

#nav-mobile:hover {
	overflow-y: scroll !important;
}

.side-nav a img {
	margin-right: 8px;
}



.search {
	padding: 8px;
}

.search .input-field {
	margin-top: 0px;
}

#search {
	margin-left: 23px;
	width: 158px;
}
.font {
	    display: block;
    height: 41px;
    padding-left: 25px !important;
    padding-top: 10px !important;
    position: absolute !important;
    top: 244px;
    width: 100%;
}