<div class="panel panel-default" style="height: 280px">
	<div class="panel-heading" style="height: 15%; background-color: #C8C8C8">
		<img src="{{feed.rss.icon}}" class="img-rounded" width="20" height="20" />
		<small class="text-muted text-center"> {{feed.rss.title | limitTo:19}} - {{feed.date}}</small>
		<button class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
	</div>
	<div class="panel-body" style="background-color: #EFEFEF; height: 85%">
		<a href="" tabindex="{{feed.index}}" class="thumbnail"
			style="margin-bottom: 5px" ng-click="ct.show(feed.id)"> <img
			alt="{{feed.rss.title}}" ng-src="{{feed.img}}" width="250"
			height="150" style="height: 145px" />
		</a>
		{{feed.title | limitTo:255}}
	</div>
</div>