<!DOCTYPE html>

<html>
    <head>
        <title>Feeds</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/materialize.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/dataTables.material.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery-ui.min.css'}">
<!--         <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}"> -->
<!--         <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-theme.min.css'}"> -->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/hotkeys.min.css'}">
        <link rel="shortcut icon" href="@{'/public/images/favicon.png'}" type="image/x-icon">
        <script src="@{'/public/javascripts/jquery-1.12.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body id="app" ng-app="app" ng-controller="feedController as ct" ng-init="ct.init()">
	<header>
		<div class="navbar-fixed">
		<nav class="grey darken-4" style="z-index: 99">
			<div class="nav-wrapper">
				<ul class="left">
					<li><a href="" onclick="displayMenu()"><i class="material-icons">menu</i></a></li>
				</ul>
				<a href="/" class="brand-logo center">Feeds</a>
				<ul class="right">
					<li><a href="#"><i class="material-icons">search</i></a></li>
				</ul>
			</div>
		</nav>
		</div>
		
		<ul id="nav-mobile" class="side-nav fixed hide" data-collapsible="expandable" style="transform: translateX(0%);" ng-init="menu.init()">
			<li style="height: 30px"></li>
			#{secure.check
			'ADMINISTRADOR'}
			<li
				class="%{if(request.path == '/categories/index.html') out.print('active')}%"><a
				href="/categories/index.html">Categorias</a></li>
			<li
				class="%{if(request.path == '/users/index.html') out.print('active')}%"><a
				href="/users/index.html">Perfil</a></li>
			<li
				class="%{if(request.path == '/config/index.html') out.print('active')}%"><a
				href="/config/index.html">Configurações</li> #{/secure.check}
			<li ng-class="{'':ct.rssId != null, 'active':ct.rssId==null}">
				<a href="" class="waves-effect waves-grey" ng-click="ct.rssId = null; ct.getFeeds(1)">
				Todos <span class="badge" ng-bind="countAll"></span></a>
			</li>
			<li><a href="" class="waves-effect waves-grey">
				Hoje <span class="badge" ng-bind="countToday"></span></a></li>
			<li><a href="" class="waves-effect waves-grey">
				Favoritos <span class="badge">1</span></a></li>
			#{list items:rsses, as: 'rss'}
			<li ng-class="{'active':ct.rssId == ${rss.id}, '': ct.rssId != ${rss.id}}">
				<a href="#" class="waves-effect waves-grey truncate" ng-click="ct.rssId = ${rss.id};ct.getFeeds(1)">
					<img src="${rss.icon}" class="circle" width="20" height="20"> ${rss.title}
					<span class="badge">${rss.qtd}</span>
				</a>
				
			</li>
			#{/list}
		</ul>
	</header>
	<main>
	<div class="container">
		#{ifErrors}
		<p>Error(s) found!</p>
		#{/ifErrors} #{if flash.success}
		<div class="alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			&{flash.success}
		</div>
		#{/if} #{if flash.error || error}
			<div class="alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				&{flash.error}
			</div>
		#{/if} #{errors}
		<li>${error}</li> #{/errors} 
		#{if title}
			<h2>#{get 'title'/}</h2>
			<hr/>
		#{/if}
		#{doLayout /}
	</div>
	</main>
	<script src="@{'/public/javascripts/materialize.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<!-- 	<script src="@{'/public/javascripts/bootstrap.min.js'}" 	type="text/javascript" charset="${_response_encoding}"></script> -->
	<script src="@{'/public/javascripts/angular.min.js'}"		type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/angular-sanitize.min.js'}" 			type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/ui-bootstrap-tpls-1.2.5.min.js'}"	type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/hotkeys.min.js'}"				type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/app.js'}"				type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/service/feed.service.js'}"			type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/controller/menuController.js'}"		type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/controller/feed.controller.js'}"	type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/controller/favorite.controller.js'}"	type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/controller/category.controller.js'}"	type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/controller/source.controller.js'}"	type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/jquery.dataTables.js'}"	type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/dataTables.material.min.js'}"	type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/jquery-ui.min.js'}"	type="text/javascript" charset="${_response_encoding}"></script>
	
	</body>
</html>
